body{
    background-color: gold;
}

footer {
    background-color: black;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p {
    text-align: right;
    font-size: 0.8rem;
    height: 1.2rem;
    margin-top: 2rem;
}