:root {
   --text-color:rgb(220, 57, 57);
   --card-front-color:rgb(53, 197, 110);
   --card-back-color:rgb(4, 57, 248);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');{
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

body{
    background: url(img/pelotas.jpg);
    font-family:"PT Serif", serif;
}

footer {
    background-color: black;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p {
    text-align: right;
    font-size: 0.8rem;
    height: 1.2rem;
    margin-top: 1rem;
}
  #container {
   display: flex;
  }

  .card:hover .card__content{
    transform: rotate(180deg) ;

  }

  .card__content {
    margin: 1rem ;
    background-color:var(--card-front-color);
    height: 100% ;
  }
     
   .card__content h3 {
     color:var(--text-color);
     border:1px solid var(--text-color) ;
     text-align: left;
     padding: 0.6rem;
     margin: 0.5rem;
     background-color: blue;
     position: absolute;
     border-radius: 0.6rem;
     font-size: 1.5vw ;
   }

   .card__content__question p {
    color: var(--text-color);
    font-weight: 500;
   }


   .card__content__answer p { 
    color: var(--card-back-color);
    font-weight: 500;
   }